name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install clippy
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy -- -D warnings

  format:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4

      - name: Install rustfmt
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: Run formatter
        run: cargo fmt -- --check

  test:
    runs-on: ubuntu-24.04-arm

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
      # build the binary without waiting for the postgres container
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --release

      # postgres should be healthy by now, but we check just in case
      - name: Wait for Postgres port
        run: |
          until nc -z localhost 5432; do
            sleep 1
          done

      # this should be much quicker because the binary is already built
      - name: Run rust tests
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
        run: cargo test --release
